.hobbySection
  background-color: #fefefe
  padding: 110px 0
  .imgBox
    height: 400px
    position: relative
    overflow: hidden
    border-radius: 12px
    &:hover .img
      transform: scale(1.1)
    .img
      width: 100%
      height: 100%
      background-image: url("../../static/pool.jpg")
      background-repeat: no-repeat
      background-size: cover
      transition: .4s
    .overlay
      position: absolute
      width: 100%
      height: 100%
      top: 0
      border-radius: 12px
      background-color:  rgba(255, 133, 83, 0.3)
      transition: .4s
      opacity: 0
      &:hover
        opacity: 1
      .overlayText
        color: white
        font-size: 32px
        position: absolute
        bottom: 40px
        left: 40px