.goalSection
  background-color: #fefefe
  position: relative
  padding: 100px 0 120px 0
  margin: 130px 0 60px 0
  min-height: 350px
  &::before
    position: absolute
    top: 0
    right: 0
    content: ""
    width: 85%
    height: 100%
    background-color: #f8f8f8
    border-radius:  90px 0 0 90px 
  .goalBox
    padding: 30px 0 0 30px 
    transition: .4s
    height: 100%
    &:last-child
      border: 0px
    &:hover
      box-shadow: 0px 15px 25px rgb(255 133 83 / 10%)
  .goalTitleRow
    color: #ff8553
    margin-bottom: 20px
    display: flex
    align-content: center